In [2]:
import pandas as pd

In [11]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
BabyDataSet = list(zip(names,births))
BabyDataSet

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [23]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [25]:
df.to_csv('births1880.csv',index=False,header=False)
!cat births1880.csv

Bob,968
Jessica,155
Mary,77
John,578
Mel,973

In [27]:
df = pd.read_csv(r'births1880.csv')
df

       Bob  968
0  Jessica  155
1     Mary   77
2     John  578
3      Mel  973

In [29]:
df = pd.read_csv(r'births1880.csv', names=['Names','Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973